.logo {
    padding: 5px;
    width: auto;
}

body {
    background: rgb(0, 0, 0, 1);
    background-size:cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)), url("./assets/background.jpg");
    background-repeat:no-repeat;
    min-height: 100vh;
}

/* hide scrollbar for chrome, safari and opera */
body::-webkit-scrollbar {
    display: none;
  }
  

.icon {
    padding: 1px;
    height: auto;
    width: auto;
    color: #E64628;
    margin-top: -3px;
    margin-right: 8px
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #fadad4;
    transition-duration: 500ms;
}

.Application-List-Entry {
    color: #E64628;
    text-decoration: none;
}

.nav-link {
    color: #E64628;
    text-decoration: none;
}

a {
    display: inline-flex !important;
}

html {
    background-color: black;
}

iframe {
    height: 1000px;
    width: 1000px;
}

.btn-primary,
.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #E64628 !important;
    border-color: #E64628;
}

.btn-primary:hover,
.btn-outline-primary {
    color: #E64628;
    background-color: #FFFFFF !important;
    border-color: #E64628;
}
.table : #TimeTable {
    color: #FFFFFF;
}